
.*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navbar{
	background-color:  #ff8081;
	font-family: 'Lobster', cursive;
}

.btn1{
	
	background-color: #ff8081;
	border: 2;
	border-radius: 50px;
	border-color: #ff8081;
	color: black;
	font-size: 100%;

}

.card-img-top {
    width: 100%;
    height: 5vw;
    object-fit: cover;
}

.card-title, .welcome{
	font-family: 'Lobster', cursive;
}

/*div > ul> li> button {
	color: whitesmoke;
	background-color: #8BD2EC;
	border: 1;
	border-radius: 10px;
	border-color: #e8f069;
}*/

body{
	background-color: #F6C6C7;
	/*#F6C6C7*/
}

/*.carousel-inner{
	 -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
*/
.card{
	background-color: #F6C6C7;
	border: 0;
}

.btn {
  font-size:10px;
}

.bdy2{
	background-color: #E6D7F0;
}

.carousel-caption {
  -webkit-text-fill-color: whitesmoke; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: pink;
}	

footer{

	background-color: #ff8081;
	text-align: center;
	/*margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	padding: 1%;*/
}

footer > span > h5 > strong > a {
	color:  #e8f069;
}

/*contact.html ids*/
#mprojects3 {
	font-family: 'Lobster', cursive;
	color: black;
}

#card1, #card2, #card3, #contactform, #map, #findus{
	border: 1px solid black;
	background: rgba(189, 143, 167, .2);
 	border-radius: 15px 50px 30px;
}
